.dashboard-container {
    max-width: 1200px;
    margin: 30px auto;
  }
  
  .bg-gray {
    background-color: #f8f8f8; 
  }
  
  /* removed bootstrap color and added color manually for getting a matte finish */
  .matte-blue {
    background-color: #6687ad; 
  }
  .matte-orange {
    background-color: #e2a850; 
  }
  .matte-red {
    background-color: #b8615b;
  }
  .matte-yellow {
    background-color: #418545;
  }
  .matte-headblue {
    background-color: #544eae;
  }
  
  
  .card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .list-group {
    width: 100%;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .list-group-item {
    font-weight: bold;
    color: #000;
  }
  
  .list-group-item:hover {
    background-color: #f8f8f8;
    color: #007bff;
    cursor: pointer;
  }
  
  .list-group-item.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .list-group-item i {
    margin-right: 8px;
  }

.custom-title {
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
  animation: floatAnimation 4s infinite ease-in-out; 
}

.custom-title:hover {
  transform: scale(1.05) translateY(-2px); 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

@keyframes floatAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
}

  
.custom-card {
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Add the lift-up effect on hover */
.custom-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  transform: translateY(-4px) scale(1.03) rotate(2deg); 
}

@media (min-width:320px) and (max-width:767px) {
  .mp-0{
    margin: 0 !important;
    padding: 0 !important;
  }
  .header-ui{
    background: #204282;
    color: #fff;
    border-radius: 0;
    border: 0;
    margin: 0 !important;
  }
  h4.custom-title{
    animation: none !important;
    transition: none !important;
  }
  .Logout{
    background-color: #fff;
    border-radius: 50%;
    height:40px;
    width:40px;
    color: #204282;
    text-align: center;
    display: block !important;
    font-size: 1.4rem;
    font-weight: 700 !important;
    border: none;
    border: none;
    line-height: 22px !important;
  }
  .time-sheet-analysis{
    background: #242525;
    margin: 0 !important;
    padding: 10px 15px;
  }
  .project-management{
    background: #ff8000;
    margin: 0 !important;
    padding: 10px 15px;
  }
  .welcome-back{
    padding: 10px 15px;
    margin-bottom: 0 !important;
  }
  .prductivity, .financial{
    padding: 10px 15px;
    margin-bottom: 0 !important;
  }
  .project-management .card-body, .time-sheet-analysis .card-body, .welcome-back .card-body, .prductivity .card-body, .financial .card-body{
    padding: 0 !important;
    box-shadow: none !important;
  }
  .project-management i, .time-sheet-analysis i, .welcome-back i, .prductivity i, .financial i{
    font-size: 2.5rem;
  }
  .list-group{
    border-radius: 0 !important;
    border: none !important;
    color: #204282;
  }
  .list-group a{
    color: #204282;
  }
  .list-group a i{
    font-size: 1.3rem;
  }
 
  
}