.container {
  margin-top: 20px;
  display: flex;
}

/* left side transition */
.transition-left {
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.slide-out-left {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-in-left {
  transform: translateX(0);
  opacity: 1;
}

/* right side transition */
.full-width {
  width: 95%;
  transition: width 0.3s ease;
}

.collapse-left {
  width: 0;
  transition: width 0.3s ease;
  overflow: hidden;
}


.border {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.main-custom-border{
  width: max-content;
}

#contact-card {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 18rem;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contact-card.active {
  display: block;
}

.custom-day.current-date {
  background-color: #f8f9fa; /* Set your desired color for the current date */
  color: #000000; /* Set the text color for the current date */
  font-weight: bold; /* Optionally, set the font weight for the current date */
}


.custom-btn {
  height: 40px;
  width: 100px;
  align-items: center;
  position: relative;
}

.animation-container {
  position: absolute;
  top: 0;
  right: -7px;
  height: 100%;
  display: flex;
  align-items: center;
}

.short-width {
  width: 270px; /* Adjust the width as per your requirements */
}

.custom-border {
  border-right-width: 1px; /* Adjust the width as needed */
}

.custom-margin {
  margin-right: 68px; /* Adjust the value as per your preference */
}

.custom-btn-size {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}

.shadow-hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.shadow-hover:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.custom-btn-size {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}

.custom-dropdown-menu .dropdown-item.active {
  background-color: #61affe;
  color: white;
}
.m-width{
  max-width: 320px;
}
@media (min-width: 320px) and (max-width: 767px) {

.position-absolute-mobile{
  position:absolute;
  z-index: 9;
  background: #fff;
}
.display-calander{
  position: relative;
  z-index: 11;
}
.fill-time-sheet{
  left:3%;
  width: 94%;
  position: relative;
}
.custom-btn{
  height: 30px !important;
}
.table-responsive{
  padding: 0;
    margin: 0;
}
.action-button{
  padding: 0;
    margin: 0;
}
.no-padding-mobile{
  padding: 0 !important;
  border: none !important;
}

.custom-datepicker .ngb-dp-day, .custom-datepicker .ngb-dp-weekday, .custom-datepicker .ngb-dp-week-number{
  width: 3rem !important;
}
.ngb-dp-month{
  width: 100%;

}
.pageheading{
  background: #0f4181;
  padding: 7px 10px 10px;
  border-radius: 5px;
  color: #fff;
}
.custom-datepicker, .ngb-dp-month{
  width: 100%;
  
}
}
