.container {
    margin-top: 20px;
  }
  
  .border {
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-group {
    margin-bottom: 10px;
  }
  
  .custom-day {
    padding: 0.25rem;
    text-align: center;
    cursor: pointer;
  }
  
  .custom-day.current-month {
    background-color: white;
  }
  
  .custom-day.selected {
    background-color: #007bff;
    color: white;
  }
  
  .custom-day.first-half {
    background-color: #28a745;
    color: white;
  }

  .custom-legend {
    background-color: #f8f9fa; /* Set your desired background color here */
  }
  