<div class="container-fluid">
    <h3 class="fw-bold mt-4">Create Time Sheet</h3>
    <div class="row mt-4">
        <div class="col-md-3 border-right">
            <div class="border p-4">
                <!-- drop down on top section -->
                <div class="dropdown mb-4 text-center align-items-center">
                    <button class="btn btn-secondary dropdown-toggle w-100 focus-visible" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-calendar2-week mr-2"></i>
                        <!-- <span #dropdownLabelContainer class="animation-container"></span> -->
                        <span class="ms-1 small">{{ getDropdownLabel() }}</span>
                    </button>

                    <ul class="dropdown-menu w-100 align-items-center custom-dropdown-menu" style="cursor: pointer;">
                        <li>
                            <a class="dropdown-item" (click)="selectFirstHalf()"
                                [ngClass]="{ 'active': isFirstHalfSelected() }">
                                01-{{ getCurrentMonthName().substr(0, 3) }}-{{ selectedDate.year }} to 15-{{
                                getCurrentMonthName().substr(0, 3) }}-{{ selectedDate.year }}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="selectSecondHalf()"
                                [ngClass]="{ 'active': !isFirstHalfSelected() }">
                                16-{{ getCurrentMonthName().substr(0, 3) }}-{{ selectedDate.year }} to {{
                                getLastDayOfMonth() }}-{{ getCurrentMonthName().substr(0, 3) }}-{{ selectedDate.year }}
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Date picker section -->
                <div class="text-center">
                    <div class="align-items-center justify-content-center w-auto">
                        <ngb-datepicker [displayMonths]="1" [minDate]="minDate" [maxDate]="maxDate"
                            [outsideDays]="'visible'" [showWeekNumbers]="false" [(ngModel)]="selectedDate"
                            class="custom-datepicker" (ngModelChange)="generateWeekButtons()">
                            <ng-template #customDay let-date="date" let-currentMonth="currentMonth"
                                let-selected="selected" let-disabled="disabled" let-focused="focused">
                                <div class="custom-day" [class.current-month]="currentMonth" [class.selected]="selected"
                                    [class.highlighted]="isHighlighted(date)"
                                    [class.text-primary]="isCurrentDate(date)">
                                    {{ date.day }}
                                </div>
                            </ng-template>
                        </ngb-datepicker>
                    </div>
                </div>

                <!-- comment section -->
                <div class="form-group"><br>
                    <label for="comment">Comments</label>
                    <textarea class="form-control" id="comment" rows="5"></textarea>
                </div>

                <!-- Legend section -->
                <div class="border p-4 mt-4 custom-legend">
                    <h5>Legend:</h5>

                    <div class="d-flex align-items-center mt-3">
                        <span class="legend-color bg-success d-inline-block mr-2"
                            style="width: 20px; height: 20px;"></span>
                        <span style="padding-left:5px">Active Cells</span>
                    </div>
                    <div class="d-flex align-items-center mt-3">
                        <span class="legend-color bg-secondary d-inline-block mr-2"
                            style="width: 20px; height: 20px;"></span>
                        <span style="padding-left:5px">Inactive Cells</span>
                    </div>
                    <div class="d-flex align-items-center mt-3">
                        <span class="legend-color bg-warning d-inline-block mr-2"
                            style="width: 20px; height: 20px;"></span>
                        <span style="padding-left:5px">Holidays</span>
                    </div>
                    <div class="d-flex align-items-center mt-3">
                        <span class="btn btn-primary btn-sm mr-2 d-flex align-items-center justify-content-center"
                            style="width: 20px; height: 20px;">
                            <i class="bi bi-plus"></i>
                        </span>
                        <span style="padding-left:5px">Add</span>
                    </div>
                    <div class="d-flex align-items-center mt-3">
                        <span class="btn btn-danger btn-sm mr-2 d-flex align-items-center justify-content-center"
                            style="width: 20px; height: 20px;">
                            <i class="bi bi-trash"></i>
                        </span>
                        <span style="padding-left:5px">Delete</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- right side section -->
        <div class="col-md-9">
            <div class="border p-4">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <div class="mr-3">
                            <i class="bi bi-person-circle text-primary" style="font-size: 23px;"></i>
                        </div> 

                        <div class="mb-0" style="padding-left: 5px">
                            <span class="contact-name fw-bold" [ngbPopover]="contactCardContent" [placement]="'bottom'"
                                triggers="mouseenter" style="cursor: pointer;">Shinto Chandy</span>
                        </div>

                        <!-- for displaying the contact card contents  -->
                        <ng-template #contactCardContent>
                            <div class="card" style="width: 15rem;">
                                <div class="card-header bg-primary text-white">
                                    <i class="bi bi-person-circle" style="font-size: 50px;"></i>
                                </div>
                                <div class="card-body pr-4">
                                    <h5 class="card-title mb-4 fw-bold">Shinto Chandy</h5>
                                    <div class="mb-3">
                                        <i class="bi bi-phone-fill text-primary"></i>
                                        <span class="ms-2">Mobile No: 1234567890</span>
                                    </div>
                                    <div class="mb-3">
                                        <i class="bi bi-telephone-fill text-primary"></i>
                                        <span class="ms-2">Work No: 0987654321</span>
                                    </div>
                                    <div>
                                        <i class="bi bi-envelope-fill text-primary"></i>
                                        <span class="ms-2">Email: schandy@v2soft.com</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                    <div class="d-flex flex-wrap">
                        <button *ngFor="let week of weeks" class="btn btn-outline-primary btn-sm m-2 rounded fw-bold"
                            (click)="showDays(week)">
                            {{ week.start }} {{ getCurrentMonthName() | slice:0:3 }} to {{ week.end }} {{
                            getCurrentMonthName() | slice:0:3 }}
                        </button>
                    </div>
                </div>

                <div class="mt-3">
                    <div class="row border bg-light custom-border">
                        <div class="col py-1 d-flex align-items-center justify-content-center">
                            <h6 class="fw-bold">Project Name</h6>
                            <!-- Add project name content here -->
                        </div>

                        <div class="col-8 py-1 border-right">
                            <!-- Display the days of the week inside the border-->
                            <div class="d-flex ms-1 align-items-center justify-content-end">
                                <ng-container *ngFor="let day of daysOfWeek">
                                    <div class="text-center mx-2">
                                        <div class="fw-bold">{{ day | date: 'EEE' }}</div>
                                        <div class="fw-bold">{{ day | date: 'd MMM' }}</div>
                                    </div>
                                    <div class="ms-3"></div> <!-- Add space between days using ms-4 class -->
                                </ng-container>
                            </div>
                        </div>

                        <div class="col-2 py-3">
                            <h6 class="fw-bold">Total Hours</h6>
                            <!-- Total count here -->
                        </div>
                    </div>

                    <!-- Section for emp data entry -->
                    <div class="row" *ngFor="let row of rows; let i = index" [id]="'row-' + i">
                        <div class="col py-3 d-flex align-items-center justify-content-start">
                            <select class="form-select w-auto text-center" style="cursor: pointer; width: 50px;">
                                <option disabled selected hidden>Select Project</option>
                                <option class="fw-bold" *ngFor="let project of projects" [value]="project">{{ project }}
                                </option>
                            </select>
                        </div>

                        <div class="col-7 py-3 ps-0">
                            <div class="d-flex align-items-center justify-content-center">
                                <!-- ngFor directive to generate the input fields dynamically instead of repeating the code multiple times -->
                                <ng-container *ngFor="let weekDay of weekDays; let j = index">
                                    <!-- put "daysOfWeek" for removing last button columns -->
                                    <div class="col">
                                        <input type="text" class="form-control mx-1" style="width: 60px;"
                                            pattern="[0-9]*" inputmode="numeric" placeholder="0.00"
                                            [(ngModel)]="row.hours[j]" (input)="calculateTotalSum()" maxlength="3"
                                            [ngClass]="{ 'is-invalid': !isValidInput(row.hours[j]) }" />
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                        <!-- for calculating the values in newly created rows  -->
                        <div class="col-2 py-3 d-flex flex-column align-items-center justify-content-start">
                            <div class="position-relative">
                                <div class="sum-box">
                                    <span class="fw-bold" id="totalSum-{{i}}">{{ calculateRowTotal(row.hours) }}</span>
                                    <i class="mx-4 bi bi-three-dots-vertical text-bold rounded shadow-hover btn btn-outline-secondary btn-sm"
                                        style="cursor: pointer;" data-bs-toggle="dropdown"></i>

                                    <!-- below we have buttons when click the 3 dots  -->
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <button type="button" class="dropdown-item" (click)="clearTextFields(i)">
                                            <i
                                                class="btn btn-secondary custom-btn-size bi bi-arrow-counterclockwise"></i>
                                            <span class="fw-bold small mx-1">Clear</span>
                                        </button>
                                        <button type="button" class="dropdown-item" (click)="addRow()">
                                            <i class="btn btn-primary custom-btn-size bi bi-plus"></i>
                                            <span class="fw-bold small mx-1">Add Row</span>
                                        </button>
                                        <button type="button" class="dropdown-item" *ngIf="i > 0"
                                            (click)="deleteRow(i)">
                                            <i class="btn btn-danger custom-btn-size bi bi-trash"></i>
                                            <span class="fw-bold small mx-1">Delete</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- The total column summing -->
                    <div class="mt-2 row border bg-light">
                        <div class="col py-1 d-flex align-items-center justify-content-center">
                            <h6 class="fw-bold">Total Hours</h6>
                        </div>

                        <div class="col-9 py-1 border-right">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="col-1 py-2 mx-2 d-flex flex-column align-items-center justify-content-center"
                                    *ngFor="let weekDay of weekDays">
                                    <div class="sum-box">
                                        <span class="fw-bold">{{ calculateColumnTotal(weekDay) }}</span>
                                    </div>
                                </div>

                                <div
                                    class="col-1 py-2 d-flex flex-column align-items-center justify-content-center ms-auto custom-margin">
                                    <div class="sum-box">
                                        <span class="fw-bold">{{ totalSum.toFixed(2) }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main Button Section -->
            <div class="mt-4 d-flex justify-content-center fs-2">
                <button type="button" class="btn btn-primary" (click)="goToDashboard()">Back</button>
                <button type="button" class="btn btn-secondary mx-1">Save</button>
                <button type="button" class="btn btn-success mx-1">Submit</button>
                <button #arrowButton class="btn btn-danger mx-1 custom-btn">
                    Next
                    <span class="animation-container"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Copyright -->
<div class="text-center text-dark p-3">
    © 2023 Copyright :
    <a class="text-dark" href="https://www.v2soft.com/">V2Soft.com</a>
</div>