<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row">
                        <img src="../../../assets/v2logo.png" class="logo">
                    </div>
                    <div class="row px-3 justify-content-center mt-4 mb-10 border-line">
                        <img src="../../../assets/Online-Timesheet.png" class="image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-2 py-3 mt-4">
                    <h2 class="text-center fw-bold" style="color: #4040C7;">Sign in <i class="bi bi-box-arrow-in-right"></i></h2>
                    <div class="text-center">
                        <p class="mb-4 text-center fw-bold">Please login in to access the Timesheet Portal !!</p>
                        <div class="line"></div>
                    </div>
                    <div class="row px-3 mt-4">
                        <label class="mb-1">
                            <h6 class="mb-0 text-sm fw-bold">User name</h6>
                        </label>
                        <input class="mb-4" type="text" [(ngModel)]="username"
                            placeholder="Enter a valid email address">
                    </div>
                    <div class="row px-3">
                        <label class="mb-1">
                            <h6 class="mb-0 text-sm fw-bold">Password</h6>
                        </label>
                        <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" placeholder="Enter username">
                    </div>

                    <div class="row px-3 mb-3">
                        <div class="d-flex align-items-center">
                            <input type="checkbox" [(ngModel)]="showPassword" name="remember_me" id="remember_me" class="me-2 mt-2">
                            <label for="remember_me" class="mb-0">Show Password</label>
                        </div>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="button"
                            class="btn text-white fw-bold"
                            style="padding-left: 2.5rem; padding-right: 2.5rem; background-color: rgb(64, 64, 199);"
                            (click)="login()">Login</button>
                        <p *ngIf="errorMessage" class="small fw-bold text-danger mt-2 pt-1 mb-0">{{ errorMessage }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color: rgb(64, 64, 199);">
            <div class="row py-2 d-flex justify-content-center">
                <span class="col text-white text-center">Copyright &copy; 2023: <a
                        href="https://www.v2soft.com/">V2Soft.com</a></span>
            </div>
        </div>
    </div>
</div>